.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-top: 50px;
}

.search-input {
    width: 100%;
    background-color: transparent;
    height: 40px;
    border-radius: 5px;
    outline: transparent;
    border-color: transparent;
    padding-left: 40px;
    color: #5c6572;
    font-size: 20px;
}

.search-input:focus {
    background-color: #1a2536;
}

.input-container {
    position: relative;
    width: 40%;
}

.input-container svg {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

.input-container svg:nth-last-child(1) {
    margin-left: -30px;
    cursor: pointer;
}

.input-settings {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

::placeholder {
    color: #5c6572;
    font-size: 20px;
}

:-ms-input-placeholder {
    color: #5c6572;
    font-size: 20px;
}

::-ms-input-placeholder {
    color: #5c6572;
    font-size: 20px;
}



@media only screen and (max-width: 600px) {

    .input-container {
        width: 80%;
    }

    .input-settings {
        width: 20%;
    }
}
